<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eva2Rinex.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Eva2Rinex.Properties.settings>
            <setting name="EvaInputDirectory" serializeAs="String">
                <value>L:\E2\E23\RINEX\meteo_eva</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>L:\E2\E23\RINEX\meteo_eva\BIPM</value>
            </setting>
            <setting name="VaisalaInputDirectory" serializeAs="String">
                <value>L:\E2\E23\RINEX\meteo_vaisala</value>
            </setting>
            <setting name="Verbatim" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RinexType" serializeAs="String">
                <value>CCTF</value>
            </setting>
        </Eva2Rinex.Properties.settings>
    </applicationSettings>
</configuration>